body {
    font-family: Roboto;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #515151;
}

nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
}

nav li a:hover {
    color: rgb(209, 209, 209);
}

nav img {
    width: 30px;
}

#logo {
    padding-top: 3px;
    padding-bottom: 3px;
    font-style: italic;
    font-size: 30px;
    float: left;
}

#nav-icon li {
    float: right;
}

#nav-icon {
    margin-top: 20px;
    margin-right: 10px;
}

#nav-items li {
    display: inline;
    padding: 30px;
}

#nav-items {
    margin: auto;
    width: 600px;
}

footer img {
    width: 42px;
    height: 42px;
}

footer li {
    display: inline;
    padding: 1%;
}

footer {
    text-align: center;
    background-color: #515151;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}